.header-container {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    padding: 1rem 4rem;

    z-index: 999;

    transition: all 0.3s ease;

}

/* ESTADO COM SCROLL */

.header-container.scrolled {

    background-color: rgba(15, 23, 32, 0.95);

    backdrop-filter: blur(10px);

    box-shadow: 0 2px 20px rgba(0,0,0,0.2);

}

/* MENUBAR */

.p-menubar {

    background: transparent !important;

    border: none !important;

}

/* ITENS */

.p-menubar {

    display: flex;

    align-items: center;

    position: relative;

}

/* MENU CENTRALIZADO */

.p-menubar-root-list {

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 2rem;

}

/* REMOVE ESPAÇAMENTOS INTERNOS */

.p-menubar-start,
.p-menubar-end {

    z-index: 2;

}

.p-menubar-end {

    margin-left: auto;

    display: flex;

    align-items: center;

}

.p-menuitem-text {

    color: white !important;

    font-size: 17px;

}

/* ANIMAÇÃO HEADER */

.header-container {

    animation: headerDrop 1s ease forwards;

}

@keyframes headerDrop {

    from {

        opacity: 0;

        transform: translateY(-80px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}