.footer {
    background-color: #0F1620;
    color: white;
    padding: 4rem;
    border-top: 1px solid white;
}

.footer h3,
.footer h4 {
    margin-bottom: 1rem;
}

.footer p {
    color: #9ca3af;
    margin-bottom: .5rem;
}